* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

#carouselExample {
  overflow: hidden;
  margin-top: 5vh;
}

.carousel-inner {
  width: 100%;
  background-attachment: fixed;
}

.carousel-item {
  object-fit: cover;
  width: 100%;
  height: 85vh; /* Set the height to cover the entire viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

#navbarNav button.btn {
  margin-left: auto;
}

#title {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2; /* Ensure the title is above the carousel */
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .btn {
  margin-left: 15px;
}

/* The carousel container */
#carouselExample {
  position: relative;
  overflow: hidden;
}

/* The background overlay for the carousel */
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
  z-index: 1; /* Ensure the overlay is behind the title */
}

/* Style for the title text */
#title h1 {
  font-size: 3em; /* Adjust the font size as needed */
}

/* Style for the carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  z-index: 3; /* Ensure the controls are above the title and overlay */
}

/*Carousel backgrounds*/
#Philbrook {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Philbrook_Festival.jpeg');
  background-size: cover;
  background-attachment: fixed;
 background-position: center;
}
#Roosevelt {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Christmas\ Dining.png');
  background-size: cover;
  background-attachment: fixed;
 background-position: center;
}
#Nutcracker {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/NutcrackerThumbnail.png');
  background-size: cover;
  background-attachment: fixed;
 background-position: center; 
}
#Arvest {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Arvest\ skating\ rink.png');
  background-size: cover;
  background-attachment: fixed;
 background-position: center; 
}
#Rhema {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Rhema\ Christmas\ lights.jpeg');
  background-size: cover;
  background-attachment: fixed;
 background-position: center;  
}